@import "../../../../styles.scss";

:host {

  padding-bottom: 3px;
  height: 1rem;

  a {
    color: $colorWhite;
    font-weight: bold;
  }

  a:hover {
    cursor: pointer;
    border-bottom: 1px solid currentColor;
  }
}
