@import "../../../../../styles.scss";


:host {
  color: $colorWhite;
  margin: 1rem;
  .education-step-container {
    background-color: $secondaryColor;
  }

  .education-step-number {
    background-color: $primaryDarkColor;
    border-radius: 2rem;
  }
}
