<div class="pa3 center-ns quiz-display-container">
  <div class="mh3" *ngIf="viewType === QUIZ_TITLE_PAGE_VIEW">
    <div class="mw5 pv3 center">
      <click-button
        [text]="'Only for '+ qdService.quiz.userFirstName"
        [textSize]="'f5'"
        (didClick)="goToOwnerPage()"></click-button>
    </div>
    <p class="f2 b tc pt5 pb2 mv0">{{ qdService.quizTemplate.quizName }}</p>
    <p class="f3 b tc pt2 pb5 mv0">by {{ qdService.quiz.userFirstName }}</p>
    <div class="mw5 pt5 center">
      <click-button
        [text]="'Start'"
        [textSize]="'f3'"
        (didClick)="startQuizAttempt()"></click-button>
    </div>
    <div class="pt2 mw5 center">
      <timer
      [time]="3000"
      (onTimerFinished)="startQuizAttempt()"
      #preQuizTimer ></timer>
    </div>
  </div>
  <div class="mh3" *ngIf="viewType === QUIZ_GAMEPLAY_VIEW">
    <div class="mv4">
      <progress-bar
      [progress]="questionProgress"
      [total]="qdService.quizTemplate.questions.length"></progress-bar>
    </div>
    <p *ngIf="qdService.attemptAmount > 3" class="f2 ma0 pv3 ph3 tc">{{ inQuizRankInfo }}</p>
    <question
    [buddyName]="qdService.quiz.userFirstName"
    [question]="qdService.quizTemplate.questions[currQuestionIndex]"
    (answerClick)="onAnswer($event)"
    [canClickAnswers]="canClickAnswers"
    ></question>
  </div>
  <div class="mh3" *ngIf="viewType === QUIZ_RESULTS_VIEW">
      <div class="mv4">
        <progress-bar
        [progress]="questionProgress"
        [total]="qdService.quizTemplate.questions.length"></progress-bar>
      </div>
      <p class="tc f3 pt6 pb4">You placed <font class="f1">{{ qdService.getBeautifiedRankString() }}</font></p>
      <p class="tc f3 pv4">And scored <font class="f1">{{ qdService.attemptPercentage ? qdService.attemptPercentage+"%" : "67%" }}</font> in <b>Vinit's</b> quiz!</p>
      {{ showQuizResultsConfetti() }}
      <div class="mh5">
        <click-button
          [text]="'One More Thing...'"
          [textSize]="'f5'"
          (didClick)="goToSendMessageView()"
        ></click-button>
      </div>
  </div>
  <div class="mh3" *ngIf="viewType === SEND_MESSAGE_VIEW">
      <p class="tc f3 pt5 pb4">Send <b>{{ qdService.quiz.userFirstName }}</b> a random message if you'd like.</p>
      <div class="ph4">
        <textfield
        [placeholderText]="'message...'"
        [textSize]="'f4'"
        [(textValue)]="messageToQuizOwner"
        [isDisabled]="isSendMessageBtnDisabled"
        ></textfield>
      </div>
      <div class="ph4 pv4">
        <click-button
          [text]="sendMessageBtnText"
          [isDisabled]="isSendMessageBtnDisabled"
          [textSize]="'f5'"
          (didClick)="onSendMessage()"
        ></click-button>
      </div>
      <div class="ph4 pv4">
        <click-button
          [text]="'Create Your Quiz'"
          [textSize]="'f5'"
          (didClick)="goToCreateQuiz()"
        ></click-button>
      </div>
  </div>
</div>