<div class="flex flex-column">
  <div class="flex flex-row-ns flex-column ">
    <div class="w-third-ns w-100 pv4 flex justify-center">
        <header1 [headerText]="'Picky'" class=""></header1>
    </div>
    <div class="w-100 flex justify-center pv4">
      <div class="w-third-ns w-0"></div>
      <div class="w-third-ns w-100 flex justify-end-ns justify-center">
        <div>
            <anchor [text]="'Login'"></anchor>
        </div>
      </div>
    </div>
  </div>
  
  <div class="flex flex-row-ns flex-column flex-column-reverse">
    <div class="ba w-75-ns w-100">
      asdf
    </div>
    <div class="ba w-25-ns w-100 flex flex-column pa3">
        <textfield [(textValue)]="newFullNameValue" [placeholderText]="'full name'"></textfield>
        <textfield [(textValue)]="newUsernameValue" [placeholderText]="'new username'"></textfield>
        <textfield [(textValue)]="newPhone" [placeholderText]="'phone number'"></textfield>
        {{newUsernameValue}}
    </div>
  </div>
</div>

