<div class="pt5 pb4 b tc f2 title-section">
  Piky.me
</div>
<div class="ph4 pv5 w-40-ns center game-name-card">
  <p class="pb3 ma0 tc f3">Claim your permanent room to access anytime and play.</p>
  <click-button (didClick)="claimRoom()" [text]="'Create room'"></click-button>
</div>
<div class="ph4 pv5 w-40-ns center game-name-card">
    <p class="pb3 ma0 tc f3">Start a quick live session with a buddy.</p>
  <click-button (didClick)="gotoLiveGameSession()" [text]="'Play now'"></click-button>
</div>
