<div class="pt5 roomContainer w-40-ns center">
  <tip *ngIf="showTip"
    [tipHelpText]="'This is your own private room. SAVE the link and SHARE it.'"
    [btnText]="copyUrlBtnText"
    (onTipAction)="copyUrl()"
  ></tip>
  <p class="tc f2 pt3">Who are you?</p>
  <div *ngFor="let username of roomService.getUsernames()" class="mh4 mv6">
    <div [class]="'ph4 pt3 br4 pb2 ' + (roomService.getUnseenCount(username) > 0 ? 'unread-container' : '')">
      <click-button
        [text]="username.charAt(0).toUpperCase() + username.substr(1)"
        (didClick)="authAs(username)"
      ></click-button>
      <p class="tc b" *ngIf="roomService.getUnseenCount(username) > 0">{{ roomService.getOtherName(username) }} has answered {{ roomService.getUnseenCount(username) }} question{{ roomService.getUnseenCount(username) > 1 ? 's' : '' }} about you!</p>
    </div>
  </div>
</div>