<div class="container flex flex-column">
  <div class="h6" id="pscene">
      <img data-depth="0.7" class="w4 db center mt5 pt4 mb5 pb4" src="/assets/logo_circle.png"/>
  </div>
  <div class="ph4 pt4 pb6 content-card">
    <div class="mw8-ns center-ns">
        <div class="f3 f2-ns b tc">
            About Piky.me
          </div>
          <div class="f5 f4-ns pt4 pt5-ns">
              <p><b>Simply put</b>, Piky is a platform based on discovery. The goal is to 
              let you discover yourself with your friends. The quiz acts as your medium, and
              the questions are the different dimensions. Go through different scenarios
              and learn more about yourself from your friends!</p>
          </div>
    </div>
  </div>
  <div class="footer-container flex-auto">
    <footer></footer>
  </div>
</div>