<div class="room-play-container">
  <div *ngIf="viewType === QUESTION_VIEW" class="qa-holder pa4">
    <question
    [buddyName]="buddyName"
    [question]="currQuestion"
    [canClickAnswers]="canClickAnswers"
    (answerClick)="onAnswer($event)"
    >
    </question>
  </div>
  <div *ngIf="viewType === ANSWER_VIEW" class="qa-holder pa4">
    <answer
      [question]="currQuestion"
      [buddyName]="buddyName"
      [username]="currUsername"
      [optionSelected]="currQuestion.answerIndex"
      (nextClick)="showAnswer()"
    ></answer>
  </div>
</div>
