@import "../../../../../styles.scss";

.room-play-container {
  background: #536dfe;
  height: 100vh;
}

.qa-holder {
  background: #536dfe;
}

.room-btn-center-box {
  display: table;
}

.room-play-bg {
  background: #536dfe;
}