<div class="room-play-container">
  <div *ngIf="viewType === ROUND_DONE_VIEW || viewType === QUESTION_VIEW" class="pt4 ph4">
    <progress-bar
      [progress]="questionLimit - questionsLeftToAnswer"
      [total]="questionLimit"
    ></progress-bar>
  </div>
  <div *ngIf="viewType === QUESTION_VIEW" class="qa-holder pa4">
    <tip *ngIf="showQuestionTip"
      [tipHelpText]="'You can answer questions about ' + buddyName + ' here. when they log into the room, they will view your answers.'"
      [btnText]="'Dismiss'"
      (onTipAction)="closeTip(1)"
    ></tip>
    <question
    [buddyName]="buddyName"
    [question]="currQuestion"
    [canClickAnswers]="canClickAnswers"
    (answerClick)="onAnswer($event)"
    >
    </question>
  </div>
  <div *ngIf="viewType === ANSWER_VIEW" class="qa-holder pa4">
    <tip *ngIf="showAnswerTip"
      [tipHelpText]="buddyName + ' has answered question(s) about you! See their answers here.'"
      [btnText]="'Dismiss'"
      (onTipAction)="closeTip(0)"
    ></tip>
    <answer
      [question]="currQuestion"
      [buddyName]="buddyName"
      [username]="currUsername"
      [optionSelected]="currQuestion.answerIndex"
      (nextClick)="onAnswerNext()"
    ></answer>
  </div>
  <div *ngIf="viewType === ROUND_DONE_VIEW" class="pa4 room-play-bg">
    <p class="mt5 tc f1 white">That's it for today!</p>
    <p class="pv5 tc f3 white">Come back tomorrow for fresh new questions 💣</p>
    <p class="pt5 tc f5 white">Share the link below with <b>{{ buddyName }}</b> and wait for their answers</p>
    <p class="pv1 tc f5 white">{{ roomService.getShareUrl() }}</p>
    <div class="pt3 center room-btn-center-box room-play-bg">
      <click-button
        [textSize]="'f5'"
        [text]="copyUrlBtnText"
        [isDisabled]="copyUrlBtnIsDisabled"
        (didClick)="copyUrl()"
      ></click-button>
    </div>
    {{ confettiPop() }}
  </div>
</div>
