
<div class="flex flex-column flex-row-ns justify-between mt5 pt5 pb4 ph4">
  <div>
      <anchor [goto]="'/about'" [text]="'About Us'"></anchor>
      <p class="ma0 white pv3">Want to join the team or have feedback? Get in touch at
          <a class="white b" href="mailto:pikycontact@gmail.com">pikycontact@gmail.com</a>.</p>
  </div>
  <div class="flex flex-column tr-ns">
    <p class="mv0-ns"><b>Disclaimer: </b>All content and interactions are for light fun and entertainment. </p>
    <p>© 2019 Piky</p>
  </div>
</div>
