/* You can add global styles to this file, and also import other style files */


$primaryColor: #009688;
$primaryLightColor: #52c7b8;
$primaryDarkColor: #00675b;


body {
  font-family: 'Roboto', sans-serif;
}
