/* You can add global styles to this file, and also import other style files */


$colorWhite: #fff;
$primaryColor: #5e35b1;
$primaryLightColor: #9162e4;
$primaryDarkColor: #280680;


body {
  font-family: 'Nunito', sans-serif;
}
