@import "../../../../styles.scss";

:host {
  button {
    border: none;
    color: $colorWhite;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  button:hover {
    cursor: pointer;
  }
  button:active {
    box-shadow: none;
  }
}
